/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

dt {
    margin-top: 1.25em;
}

#footer .social a {
    color: #999;
}

#footer .logo {
    margin: 0 25%;
    width: 50%;
}

#calendar {
    color: #aaa;
}
